<div class="pl-item">
  <a class="pl-item__link" [routerLink]="['/feed', playlist.id]">
    <div class="pl-item__img-wrapper">
      <ng-container *ngIf="playlist?.image; then image; else placeholder"></ng-container>

      <ng-template #placeholder>
        <i class="material-icons pl-item__icon">library_music</i>
      </ng-template>

      <ng-template #image>
        <img
          class="pl-item__img"
          [style.background-image]="'url('+ playlist.image +')'"
        >
      </ng-template>
    </div>
    <h4 class="pl-item__title">{{ playlist.name }}</h4>
    <span class="pl-item__meta">{{ playlist.songs?.length }} Songs</span>
  </a>
</div>