.app {
  &__content {
    background: #fff;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px 1px #CCCCCC;
  }

  &__container {
    padding: 35px;
  }
}
