/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: white;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
