:host {
  display: block;
}

.feed {
  &__title {
    margin: 24px 0;
  }

  &__content {
    column-gap: 16px;
    column-count: 8;
  }
}

.pl {
  position: relative;

  &__new {
    margin: -35px -35px 35px;
    background: #f9f9f9;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    app-playlist-item {
      flex: 0 0 25%;
      margin: 0 0 56px;
      transition: 0.2s all ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
